@use 'variables' as v;

.terms-container {
  background-color: v.$accent-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 20px;
    color: v.$primary-color;
  }

  p {
    margin-bottom: 10px;
  }
}

