@use 'variables' as v;

h1, h2, h3, h4, h5, h6 {
  color: v.$primary-color;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}

.tittleIndex {
  color: v.$primary-color;
  font-size: 1.50rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid v.$primary-color;
  letter-spacing: 1px;
}

