// Colors
$primary-color: #d01616;
$secondary-color: #1f1f1f;
$background-color: #000000;
$text-color: #e0e0e0;
$accent-color: #333;

// Fonts
$main-font: Arial, sans-serif;

// Breakpoints
$mobile: 480px;
$tablet: 768px;

// Sizes
$sidebar-width: 16rem;
$sidebar-width-mobile: 18rem;
$sidebar-width-icon: 3rem;
